.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header nav li {
  margin-left: 3rem;
}

.header nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.header nav a:hover,
.header nav a:active,
.header nav a.active {
  color: white;
}

.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 1050px) {
  .header {
    padding: 0 6%;
  }

  .logo {
    font-size: 1.5rem;
  }

  .header nav li {
    margin-left: 2rem;
  }

  .header nav a {
    font-size: 1.1rem;
  }

  .badge {
    margin: 0 0 0 0.2em;
    padding: 0 0.6em;
  }
}

@media screen and (max-width: 720px) {
  .header {
    padding: 0 5%;
  }

  .logo {
    font-size: 1.1rem;
  }

  .header nav li {
    margin-left: 0.9rem;
  }

  .header nav a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 540px) {
  .header {
    position: relative;
  }

  .logo {
    margin: auto;
    font-size: 1.3rem;
  }
  .header nav {
    display: none;
  }
}
