.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: 1rem 0 1.5rem;
}

@media screen and (max-width: 768px) {
  .card {
    width: 80%;
    margin: 1.5rem auto;
  }
}
